.booth {
    width: 400px;
    background: #ccc;
    border: 10px;
    margin: 0 auto;
}

.canvas {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.canvas2 {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}